body {
    font-family: sans-serif;
    background-color: #f0f0ff;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

.container {
    border: 2px solid #007BFF;
    border-radius: 10px;
    background-color: #e6f7ff;
    padding: 20px;
    display: inline-block;
}

h1 {
    color: #007BFF;
    letter-spacing: 3px;
}